:root {
  ////
  // COLORS
  ////

  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fcfaf9;
  --slate: #191826;

  ////
  //SPACING
  ////

  --2500: 20rem;
  --1600: 12.8rem;
  --1000: 8rem;
  --800: 6.4rem;
  --700: 5.6rem;
  --600: 4.8rem;
  --500: 4rem;
  --400: 3.2rem;
  --300: 2.4rem;
  --250: 2.5rem;
  --200: 1.6rem;
  --100: 0.8rem;
}

////
// BREAKPOINTS
////
$bp-900: 56.25em;
$bp-550: 34.375em;
